*.class

# Package Files #
*.jar
*.war
*.ear
.idea/*
*.iml
*.prefs
*.project
*/target/*
*.settings
*/*.project
*/*.classpath
*.project
.gitignore.bak
*.classpath
api/*.gitignore
*.classpath
*/*.gitignore
*/.settings
pms-api-solution.iml
*/*.iml
*/rebel.xml